.slider {
  width: 640px;
  height: 480px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border: 5px solid red;
}
.slider input[type="radio"] {
  display: none;
}
.slider input {
  display: none;
}
